@font-face {
    font-family: "ubuntu";
    src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

.name{
    font-size: 2rem;
    color: white;
    text-align: center;
}
.text--presentation{
    font-size: 1.25rem;
    color: white;
    margin-top: 20px;
    text-align: center;
}